* {
    font-family: 'Roboto', sans-serif;
}

/*nav*/

.emojify-nav {
    padding: 5px 30px;
    background-color: transparent !important;
    color: white;
    .emojify-nav-item {
        font-weight: 800;
        font-size: 15px;
        color: white;
        padding: 0;
        letter-spacing: 2px;
        &:hover {
            border-bottom: 2px solid white
        }
    }
    .emojify-nav-brand {
        font-weight: 800;
        font-size: 23px;
        color: white;
        letter-spacing: 2px;
        &:hover {
            color: white;
        }
    }
}

/*body*/

@keyframes grow {
    //grow animation music loop
    from {
        transform: scale(0);
        opacity: 1;
    }
    to {
        transform: scale(1);
        opacity: 0;
    }
}

.emojify-bodycontainer {
    height: 100vh;
    background: linear-gradient(0deg, #ee0979 0%, #ff6a00 100%);
    overflow: hidden;
    .bg-circle {
        z-index: 0;
        position: fixed;
        border-radius: 100%;
        background: linear-gradient(0deg, #ee0979 0%, #ff6a00 100%);
    }
    .bg-circle-1 {
        height: 90rem;
        width: 90rem;
        bottom: -55rem;
        left: -55rem;
    }
    .bg-circle-2 {
        height: 50rem;
        width: 50rem;
        top: -25rem;
        right: -25rem;
    }
    .bg-circle-3 {
        height: 20rem;
        width: 20rem;
        bottom: -10rem;
        right: 5%;
    }
    .bg-circle-4 {
        height: 30rem;
        width: 30rem;
        top: -5rem;
        right: 35%;
    }
    .emojify-bg-musicloop {
        width: 100%;
        height: 100%;
        top: 54%;
        left: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        transform: translateX(-50%) translateY(-50%);
        z-index: 0;
        position: fixed;
        opacity: 0;
        transition: 0.5s;
        .emojify-circle-musicloop {
            background-color: rgba(255, 255, 255, 0.2);
            display: block;
            z-index: -1000;
            position: absolute;
            border-radius: 100%;
        }
        .c-100 {
            width: 100%;
            padding-bottom: 100%;
        }
        .c-90 {
            width: 90%;
            padding-bottom: 90%;
        }
    }
    .alert-box {
        color: white;
        position: absolute;
        bottom: 20%;
        left: 50%;
        transform: translateX(-50%);
        text-align: center;
        .emojify-playicon{
            cursor: pointer;
            font-size: 35px;
        }
    }
    .emojify-row-grow {
        flex-grow: 1;
        .emojify-login {
            background-color: #1DB954;
            border-radius: 5rem;
            padding: 15px 20px;
            border: 0;
            &:hover {
                background-color: darken(#1DB954, 5%);
            }
        }
        h1 {
            color: white;
        }
        h5{
            color: white;
            font-weight: 400;
        }
    }
}

.emojify-list {
    z-index: 1;
    padding: 0px;
    background: rgba($color: #ffffff, $alpha: 0.35);
    position: relative;
    transition: 0.6s;
    &:hover{
        bottom: 0 !important;
    }
    .emojify-list-item {
        cursor: pointer;
    }
}